<div mnFullpage>
  <div class="section welcome-section fp-section fp-table bk1">
    <div class="fp-tableCell bk1">
      <div id="loginbox" class="loginbox">
          <nz-demo-form-login></nz-demo-form-login>
      </div>
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table bk2">
    <div class="fp-tableCell">
      2
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table bk3">
    <div class="fp-tableCell bk3">
      3
    </div>
  </div>
</div>